<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sketchy/bootstrap.min.css" integrity="sha384-RxqHG2ilm4r6aFRpGmBbGTjsqwfqHOKy1ArsMhHusnRO47jcGqpIQqlQK/kmGy9R" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <style>
        body{
            text-align:center;
            font-family: 'Quicksand', sans-serif;
            margin: 50px;
        }

        

    </style>
</head>
<body>
    <h1 style="font-size: 70px; text-align: left; text-indent: 5em">To-do list</h1>
    <br><br>
    <div class = "container">
        <div>
            <form action="{%url 'create' %}" method="post">
                {%csrf_token%}
                <input type="text" name="content" class="col-8" style="height: 40px;" placeholder="할 일을 입력하세요">
                <button type="submit" class="btn btn-outline-success">추가</button>
            </form>
            <br><br>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Date</th>
                        <th>Task</th>
                        <th></th>
                        <th></th>
                    </tr>
                <tbody>
                    {% for todo in todos %}
                        <tr class="table-active">
                            <th scope="row">{{todo.id}}</th>
                            <td>{{todo.date|date:"m/d/y"}}</td>
                            <td>{{todo.content}}</td>
                            <td style="zoom:1.2"><input type="checkbox" value="complete">
                            </td>
                            <td><a href="{% url 'delete' todo.id %}" style="color: red; text-decoration: none">[삭제]</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br><br>
        <div style="font-size: 30px">
            <p style="color:midnightblue"><i style="font-weight:bold; color:darkorange">{{id_todo_count}}</i> incomplete task{{id_todo_count|pluralize:"s"}} </p>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>